<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，作用就是对sql进行分类化管理，可以理解为sql隔离 -->
<mapper namespace="cn.usst.market.mapper.adminMapper">

	<!-- 管理员登录 -->
	<select id="adminLogin" parameterType="java.lang.String"
		resultType="cn.usst.market.po.Admin">
		select * from admin where email=#{0}
		and
		password=#{1}
	</select>

	<!-- 根据ID选择一条管理员信息 -->
	<select id="selectAdminByPhone" parameterType="java.lang.String"
		resultType="cn.usst.market.po.Admin">
		select * from admin where phone=#{phone,jdbcType=VARCHAR}
	</select>
	
	<!-- 添加信息 -->
	<insert id="add">
		insert into test(content) values(#{content});
	</insert>
</mapper>
