<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.usst.market.mapper.CompetitionResultMapper" >
  <insert id="insert" parameterType="cn.usst.market.po.BalanceSheet" >
    insert into balance_sheet (id, competition_id, serial_number, 
      quarter, huobi, cunkuan, 
      lixi_collection, cunhuo, zichan, 
      daikuan_emergency, lixi_pay, daikuan_normal, 
      guben, liucun)
    values (#{id,jdbcType=INTEGER}, #{competitionId,jdbcType=INTEGER}, #{serialNumber,jdbcType=INTEGER}, 
      #{quarter,jdbcType=INTEGER}, #{huobi,jdbcType=REAL}, #{cunkuan,jdbcType=REAL}, 
      #{lixiCollection,jdbcType=REAL}, #{cunhuo,jdbcType=REAL}, #{zichan,jdbcType=REAL}, 
      #{daikuanEmergency,jdbcType=REAL}, #{lixiPay,jdbcType=REAL}, #{daikuanNormal,jdbcType=REAL}, 
      #{guben,jdbcType=REAL}, #{liucun,jdbcType=REAL})
  </insert>
	<select id="findBalanceSheetByIdAndQuarter" parameterType="cn.usst.market.po.IdQuarter" resultType="cn.usst.market.po.BalanceSheet">
		select * from balance_sheet
		where balance_sheet.company_id=#{id,jdbcType=INTEGER}
		and balance_sheet.`quarter`=#{quarter,jdbcType=INTEGER}
	</select>
	
	<select id="findCashFlowByIdAndQuarter" parameterType="cn.usst.market.po.IdQuarter" resultType="cn.usst.market.po.CashFlow">
		select * from cash_flow
		where cash_flow.company_id=#{id,jdbcType=INTEGER}
		and cash_flow.`quarter`=#{quarter,jdbcType=INTEGER}
	</select>
	
	<select id="findIncomeStatementByIdAndQuarter" parameterType="cn.usst.market.po.IdQuarter" resultType="cn.usst.market.po.IncomeStatement">
		select * from income_statement
		where income_statement.company_id=#{id,jdbcType=INTEGER}
		and income_statement.`quarter`=#{quarter,jdbcType=INTEGER}
	</select>
	
</mapper>